/* ------------------------------ Reset & Base Styles ------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------------ QR Card Component ------------------------------ */
.qr-card {
  padding: 1rem 1rem 2.5rem;
  background-color: #ffffff;
  display: inline-block;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
}

/* ------------------------------ QR Image ------------------------------ */
.qr-card_image {
  width: 100%;
  max-width: 288px;
  height: auto;
  margin-bottom: 24px;
  border-radius: 10px;
}

/* ------------------------------ QR Card Text Content ------------------------------ */
.qr-card_content {
  text-align: center;
  padding: 0 1rem;
}

.qr-card_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 16px;
  color: #1f314f;
}

.qr-card_description {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #68778d;
}